* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #21232D;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  margin: 30px;
}

.box {
  height: 13vh;
  width: 40vh;
  border-radius: 5px;
  background-color: #2D3037;
  margin-top: .5%;
  margin-left: .25%;
  margin-right: .25%;
}

.box-grafico {
  height: 50vh;
  width: 80vh;
  border-radius: 5px;
  background-color: #2D3037;
  margin-top: 5.5%;
  margin-left: .25%;
  margin-right: .25%;
}

.box-tabela {
  height: 50vh;
  width: 80vh;
  border-radius: 5px;
  background-color: #2D3037;
  margin-top: 5.5%;
  margin-left: .25%;
  margin-right: .25%;
}

.bx {
  height: 50vh;
  max-height: 50vh;
  overflow-y: scroll;
}

.subbox{
  height: 100vh;
}

h1 {
  font-family: system-ui;
  font-style: normal;
  vertical-align: top;
  color: #fff;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 3px;
  font-size: 2vh;
}

h2 {
  font-family: system-ui;
  font-style: normal;
  vertical-align: top;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  font-size: 2vh;
}

h3 {
  font-family: system-ui;
  font-style: normal;
  vertical-align: top;
  color: #fff;
  text-align: center;
  font-size: 4vh;
  padding: 5px;
}


.kpi {
padding: 0;
justify-content: space-between;
}


.coluna {
  display: flex;
  justify-content: center;
  padding: 1.5px;
}



a:hover {
  opacity: 0.7;
}

.logo {
  height: 80%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #2D3037;
  height: 8vh;
}

main {
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

.nav-list.active {
  transform: translateX(0);

}

li{
  margin: 40px;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);

  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

@media (max-width: 999px) and (orientation: landscape) {
  .box {
    height: 17vh;
    width: 48vh;
  }

  h2 {
    font-size: 3vh;
  }

  h3 {
    font-size: 6vh;
  }

  .box-grafico {
    margin-top: 1.5%;
    height: 70vh;
    width: 60vh;
  }

  .box-tabela {
    margin-top: 1.5%;
    height: 70vh;
    width: 166vh;
  }

  .bx {
    height: 70vh;
    max-height: 70vh;
  }
  nav { 
    height: 12vh;
  }

  h1 {
    visibility: hidden;
  }

  .nav-list li {
    margin-left: -12px;
}

}

@media (max-width: 999px) and (orientation: portrait) {
  body {
   overflow-x: hidden;
 }

 .box {
   height: 100%;
   width: 100%;
   position: center;
   
 }

 h2 {
   font-size: 1.5vh;
 }

 .box-grafico{
   height: 50vh;
   width: 90vw;
   position: center;

 }
 .box-tabela{
  height: 50vh;
  width: 90vw;
  position: center;

}



 h3 {
   font-size: 3vh;
 }



 .coluna {
   display: inline-block;
  }
 
 .kpi {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 10px;
 }

 .nav-list {

   position: absolute;
   top: 8vh;
   right: 0;
   width: 50vw;
   height: 92vh;
   background: #23232e;
   flex-direction: column;
   align-items: center;

   transform: translateX(100%);
   transition: transform 0.3s ease-in;

   
 }

 .nav-list li {
   margin-left: 0;
   opacity: 0;
 }

 .mobile-menu {
   display: block;
 }
}


