<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <title>Exagerado Diniz</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <link rel="icon" href="{{ url_for('static', filename='Logo DI.png')}}">
</head>

<body>
  <header>
    <nav id="myNav">
      <img src="{{ url_for('static', filename='logo-01.png')}}" class="logo">
      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>

      <ul class="nav-list">
        <li><a href="/">Início</a></li>
        <li><a href="/vendedor">Vendedor</a></li>
        <li><a href="/produtos">Produtos</a></li>

      </ul>
    </nav>
  </header>

  <main>

    <div class="kpi">
      <div class="coluna">
        <h1> HOJE </h1>
        <div class="box">
          <h2>TOTAL VENDIDO HOJE</h2>
          <h3>R$ {{Total_vendido_ultimodia_formatado}}</h3>
        </div>
        <div class="box">
          <h2>QUANTIDADE VENDAS</h2>
          <h3>{{Quantidade_venda_ultimodia}}</h3>
        </div>
        <div class="box">
          <h2>QUANTIDADE PRODUTO</h2>
          <h3>{{Quantidade_produto_ultimodia}}</h3>
        </div>
        <div class="box">
          <h2>TKM</h2>
          <h3>R$ {{TKM_ultimodia_formatado}}</h3>
        </div>
      </div>
      <div class="coluna">
        <h1> TOTAL </h1>
        <div class="box">
          <h2>TOTAL VENDIDO</h2>
          <h3>R$ {{Total_vendido_formatado}}</h3>
        </div>
        <div class="box">
          <h2>QUANTIDADE VENDAS</h2>
          <h3>{{Quantidade_venda}}</h3>
        </div>
        <div class="box">
          <h2>QUANTIDADE PRODUTO</h2>
          <h3>{{Quantidade_produto}}</h3>
        </div>
        <div class="box">
          <h2>TKM</h2>
          <h3>{{TKM_formatado}}</h3>
        </div>
      </div>
    </div>
    <div class="kpi">
      <div class="coluna">
        <div class="box-grafico">
          <div class="bx">
            <div class="subbox">
              <h2>Quantidade vendida por preço unitário</h2>
            <canvas id ="grafico"></canvas>
            </div>
          </div>
        </div>
        <div class="box-tabela">            
         <div id ="tabela_dias" class="ag-theme-alpine-dark" style="height: 50vh;"></div>            
        </div>
      </div>
    </div>
  </main>

  <!-- plugins -->
  <script  src="{{ url_for('static', filename='js/chart_umd.js')}}" type="text/javascript"></script> 
  <script  src="{{ url_for('static', filename='js/chartjs-plugin.js')}}" type="text/javascript"></script> 
  <script  src="{{ url_for('static', filename='js/aggrid_1.js')}}" type="text/javascript"></script> 
  <script  src="{{ url_for('static', filename='js/aggrid_2.js')}}" type="text/javascript"></script> 
  <script  src="{{ url_for('static', filename='js/aggrid_3.js')}}" type="text/javascript"></script> 
  <script  src="{{ url_for('static', filename='js/aggrid_4.js')}}" type="text/javascript"></script> 


<!-- funções -->
  <script src="{{ url_for('static', filename='js/mobile-navbar.js')}}" type="module"></script>
  <script  src="{{ url_for('static', filename='js/tabela_dias.js')}}" type="text/javascript"></script> 
  <script  src="{{ url_for('static', filename='js/grafico_barras.js')}}" type="text/javascript"></script> 

</body>

</html>